html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  /*grid-template:auto / 1fr 1fr 1fr;*/
  grid-template: [header-start] 1fr [header-end] 1fr 1fr 1fr/ 1fr 1fr 1fr;
  /*grid-template: repeat(4,1fr)/repeat(3,1fr);*/
  grid-auto-rows: 50px;
  height: 100vh;
  width: 100vw;
  /*grid-gap: 5px;*/
  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
  grid-area: 2 / 2 / 4 / 4;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}